@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --cor1: #56396f;
    --cor2: #0d0d55;
    --cor3: #38a8bc;
    --cor4: #bd6c7d;
    --cor5: #bfb5db;
    --withe: #f1ffe7;
    --black: #353535;

}

body {
    /*background-image: url(../imgs/funddd.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;*/
    background-color: var(--black);
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

h4 {
    font-family: 'Press Start 2P';
    font-size: 15px;
}

#cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35rem;
    height: 48rem;
    font-size: 20px;
    margin: 55px;
    font-weight: bold;
    background-color: var(--withe);
    border-radius: 10px;
    border: 10px solid var(--black);
    outline: 10px solid var(--cor1);
}

#cadastro img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(-5px 2px 0 var(--cor5));
}

#formulario_cadastro {
    color: var(--cor2);
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: start;
}

h4 {
    text-align: center;
    color: var(--cor2);
}

#email,
#nick,
#senha,
#confirmar {
    border: none;
    background-color: var(--cor5);
    outline: none;
    color: var(--black);
    height: 30px;
    width: 20rem;
    border-radius: 3px 5px;
    font-size: 15px;
}

#aceito,
#aceito_p {
    cursor: pointer;
}

label a {
    color: var(--cor1);
}

label a:hover {
    color: var(--cor3);
}

/*~~~~~~~~~ configuracao olho ~~~~~~~~~*/
.senha {
    position: relative;
}

.senha input {
    padding: 0 40px 0 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--cor1);
}

/* Ícone de olho aberto padrão */
#senha,
#senha_p {
    background-image: url('../imgs/visivel.png');
}

#confirmar,
#confirmar_p {
    background-image: url('../imgs/visivel.png');
}

/* Ícone de olho fechado quando visível */
#senha[data-visivel="true"] {
    background-image: url('../imgs/nao_visivel.png');
}

#confirmar[data-visivel="true"] {
    background-image: url('../imgs/nao_visivel.png');
}

/*~~~~**/
#senha_p[data-visivel="true"] {
    background-image: url('../imgs/nao_visivel.png');
}

#confirmar_p[data-visivel="true"] {
    background-image: url('../imgs/nao_visivel.png');
}

/*~~~~~~*/
.starts {
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    background-color: var(--cor1);
    color: var(--withe);
    border-radius: 10px;
    width: 16rem;
    height: 40px;
    font-size: 15px;
}

.starts:hover {
    background-color: var(--black);
    color: var(--withe);
}

.starts_c {
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    background-color: var(--cor1);
    color: var(--withe);
    border-radius: 10px;
    width: 14rem;
    height: 40px;
    font-size: 15px;
}

.starts_c:hover {
    background-color: var(--black);
    color: var(--withe);
}

/*~~~~~~~*/
.faca_login {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    font-size: 15px;
    color: var(--withe);
    background-color: var(--cor1);
    border-radius: 5px;
    border: 3px solid var(--black);
    outline: 2px solid var(--cor1);
}

.faca_login button {
    outline: none;
    border: none;
    background-color: var(--withe);
    padding: 5px;
    border-radius: 5px;
    border-bottom: 2px solid var(--cor3);
    color: var(--cor2);
}

/*~~~~~~~~~~~~~~~*/
main {
    display: flex;
    /* mantém o layout */
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    /* evita ocupar espaço */
}

.mostrar {
    opacity: 1;
    visibility: visible;
    position: static;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ cadastro publi ~~~~~~~~~~~~~~~~~~~~~~~~*/
#cadastro_publicador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 35rem;
    height: 50rem;
    font-size: 20px;
    margin: 55px;
    font-weight: bold;
    background-color: var(--withe);
    border-radius: 10px;
    border: 10px solid var(--black);
    outline: 10px solid var(--cor1);
}

#cadastro_publicador img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-5px 2px 0 var(--cor5));
}

#formulario_cadastro_publicador {
    color: var(--cor2);
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: start;
}

#email_p,
#nick_p,
#senha_p,
#confirmar_p,
#nome {
    border: none;
    background-color: var(--cor5);
    outline: none;
    color: var(--black);
    height: 30px;
    width: 20rem;
    border-radius: 3px 5px;
    font-size: 15px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~ login ~~~~~~~~~~~~~~~~~~~~~~~*/
#login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--withe);
    border-radius: 10px;
    border: 10px solid var(--black);
    outline: 10px solid var(--cor1);
    margin-top: 50px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(-5px 2px 0 var(--cor5));
}

#formulario_login {
    color: var(--cor2);
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: start;
}

/*~~~~*/
#cadastre-se {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    font-size: 15px;
    color: var(--withe);
    background-color: var(--cor1);
    border-radius: 5px;
    border: 3px solid var(--black);
    outline: 2px solid var(--cor1);
}

#cadastre-se button {
    outline: none;
    border: none;
    background-color: var(--withe);
    padding: 5px;
    border-radius: 5px;
    border-bottom: 2px solid var(--cor3);
    color: var(--cor2);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ tipo conta ~~~~~~~~~~~~~~~~~~~~~*/
#tipo_conta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 35rem;
    height: 15rem;
    font-size: 20px;
    gap: 25px;
    font-weight: bold;
    background-color: var(--withe);
    border-radius: 10px;
    border: 10px solid var(--black);
    outline: 10px solid var(--cor1);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tipo_conta img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(-5px 2px 0 var(--cor5));
}

.entrada {
    background-color: var(--cor1);
    width: 250px;
    height: 35px;
    border-radius: 5px;
    color: var(--withe);
    display: flex;
    justify-content: center;
    align-items: center;
}