@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --cor0: #a681c7;
    --cor1: #56396f;
    --cor2: #0d0d55;
    --cor3: #38a8bc;
    --cor4: #bd6c7d;
    --cor5: #00ff00;
    --withe: #f1ffe7;
    --black: #353535;
}

* {
    margin: 0px;
}

body {
    background-color: var(--withe);
}

a {
    text-decoration: none;
    color: var(--withe);
}
h1 {
    font-family: 'Press Start 2P', monospace, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: var(--black);
    border-bottom: 10px double var(--cor4);
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*~~~~~~~~img fundo ~~~~~~~~*/
div#img_fundo {
    display: inline-block;
    width: 200.1vh;
    height: 300px;

    background-color: var(--black);
    background-image: url('../imgs/circuito_fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}
div#logo_golden_maker {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
div#logo_golden_maker img{
    width: 200px;
    height: 200px;
    filter: drop-shadow(-5px 10px 0 var(--withe));
}

@media(max-width: 2000px) {
    div#img_fundo {
        width: 214vh;
    }
}

@media(max-width: 800px) {
    div#img_fundo {
        height: 200px;
    }
}

/*~~~~~~~ apresentacao ~~~~~~~~~~*/
section#apresentacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--withe);
    margin: 20px 50px;
    font-size: 20px;
    border: 5px groove var(--cor3);

}

section#apresentacao img {
    height: 500px;
    width: 500px;
}

#txt {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto_apresentacao {
    line-height: 1.6;
    text-align: justify;
    padding: 0px 150px;
}

@media(max-width: 800px) {
    section#apresentacao {
        flex-direction: column;
        font-size: 15px;
    }

    section#apresentacao img {
        height: 300px;
        width: 300px;
    }

    .texto_apresentacao {
        line-height: 1.6;
        padding: 0px 50px;
    }
}

/*~~~~~~~ pesqisa por jogos ~~~~~~~*/
section#secao_jogos {
    margin: 20px;
}

div#procura {
    display: flex;
    justify-content: center;
}

#txt_pesquisa {
    border: 2px solid var(--black);
    background-color: var(--withe);
    border-radius: 10px;
    font-size: 15px;
    width: 300px;
    height: 25px;

    background-image: url('../imgs/lupa.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 40px;
}

#txt_pesquisa:focus {
    outline: 0px;
    border: 3px solid var(--cor1);
}

#apresentacao_jogos {
    text-align: center;
}

.carrosel_jogos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.jogo {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--black);
    cursor: pointer;
}

/*~~~~~~~~~~~ roda pe ~~~~~~~~~~~~~~~~*/
footer {
    background-color: var(--black);
    border-top: 10px double var(--cor4);
    color: var(--withe);
    text-align: center;
    align-items: center;
    padding: 20px;
}
footer img{
    width: 55px;
    height: 55px;
    align-items: end;
}

h5 {
    font-family: 'Press Start 2P';
    color: var(--cor5);
}

/*~~~~~~~~~~~~~~~~~~~~~~ perfil.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#icon {
    /* div da parte de cima */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

#icon img {
    height: 200px;
    width: 200px;
    background-color: var(--black);
    border-radius: 50%;
    border-left: 10px solid var(--cor0);
    border-right: 5px solid var(--cor2);
}

#icon button {
    border: none;
    background-color: var(--withe);
    color: var(--cor1);
    cursor: pointer;
}

#icon button:hover {
    border-radius: 5px;
    background-color: var(--cor0);
    color: var(--withe);
}

#configuracao_perfil {
    /* conteudo principal (main) */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 20px;
    width: 500px;
    border-radius: 10px;
    background-color: var(--black);
    border-left: 10px double var(--cor3);
    border-bottom: 10px double var(--cor5);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--withe);
}

#botao_publicar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid var(--cor1);
    background-color: var(--cor1);
}

#botao_publicar:hover {
    background-color: var(--cor4);
}

hr {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--cor2);
}

form input {
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: var(--withe);
}


#atualizar_nome {
    align-items: center;
    background-color: var(--black);
    border: 3px solid var(--cor5);
    color: var(--withe);
}

#atualizar_nome:hover {
    background-color: var(--cor0);
}

#nova_senha {
    /* titulo2 h2 */
    text-align: center;
}

.senha {
    /* compo div das senhas*/
    position: relative;
    width: 300px;
    margin-bottom: 20px;
}

.senha input {
    width: 100%;
    padding: 5px 40px 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

/* Ícone de olho aberto padrão */
#senha {
    background-image: url('../imgs/visivel.png');
}

#confirmar {
    background-image: url('../imgs/visivel.png');
}

/* Ícone de olho fechado quando visível */
#senha[data-visivel="true"] {
    background-image: url('../imgs/nao_visivel.png');
}

#confirmar[data-visivel="true"] {
    background-image: url('../imgs/nao_visivel.png');
}

/*~~~~~~~*/

#atualizar {
    width: 90px;
    background-color: var(--black);
    color: var(--withe);
    border: 3px solid var(--black);
    outline: 3px solid var(--cor5);
}

#atualizar:hover {
    background-color: var(--cor0);
}

/*~~~~~~~~~~~~~~~~~~~~~~ jogo.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h3 {
    font-family: 'Press Start 2P', monospace, Arial, sans-serif;
    font-size: 15px;
}

section#apresentacao_jogue {
    /* cabeçalho */
    background-color: var(--black);
    background-image: url(../imgs/circuito_fundo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cabecalho_jogue {
    /* parte do topo (icone + nome do jogo*/
    display: flex;
    align-items: end;
    gap: 20px;
    color: var(--withe);
    padding: 10px;
}

div#cabecalho_jogue img {
    /* icone do jogo */
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border-right: 5px double var(--cor3);
    border-bottom: 5px double var(--cor1);
}

#descricao {
    /* caixa de descriçao do jogo */
    background-color: var(--cor2);
    color: var(--withe);
    font-size: 20px;
    border-radius: 3px;
    border-left: 5px double var(--cor5);
    border-bottom: 5px double var(--cor5);
    display: flex;
    justify-content: center;
    width: 50rem;
    padding: 15px;
    margin: 10px;
}
section#carrosel_imgs_jogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px 10px;
    font-size: 25px;
}
div.imagen_jogo{
    width: 300px;
    height: 200px;
    background-color: var(--black);
}


#jogue {
    /* quadro onde o jogo vai rodar */
    background-color: var(--black);
    width: 75rem;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ publicacao_jogo.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h2, h4 {
    font-size: 20px;
    text-align: center;
}

#publicacoes {
    display: flex;
}
#publique_jogo, #publique_midia {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px 0;
    width: 500px;
    background-color: var(--black);
    border: 5px solid var(--withe);
    outline: 5px solid var(--black);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--withe);
    font-size: 20px;
}

#publique_jogo input {
    width: 400px;
    height: 20px;
}

.upload-area {
    border: 2px dotted var(--withe);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.upload-area:hover {
    border-color: var(--cor0);
}

input#publicar_j {
    background-color: var(--cor0);
    color: var(--withe);
    width: 120px;
    height: 25px;
    border-radius: 5px;
}
input#publicar_j:hover {
    background-color: var(--cor1);
}