:root {
    --cor0: #a681c7;
    --cor1: #56396f;
    --cor2: #0d0d55;
    --cor3: #38a8bc;
    --cor4: #bd6c7d;
    --cor5: #00ff00;
    --withe: #f1ffe7;
    --black: #353535;
}

* {
    margin: 0px;
}

body {
    background-color: var(--withe);
}

a {
    text-decoration: none;
    color: var(--withe);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    background-color: var(--black);
    border-bottom: 10px double var(--cor4);
}

header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*~~~~~~~~img fundo ~~~~~~~~*/
div#img_fundo {
    display: inline-block;
    width: 200.1vh;
    height: 300px;
    background-color: var(--black);
    background-image: url('imgs/circuito_fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

@media(max-width: 2000px) {
    div#img_fundo {
        width: 214vh;
    }
}

@media(max-width: 800px) {
    div#img_fundo {
        height: 200px;
    }
}

/*~~~~~~~ apresentacao ~~~~~~~~~~*/
section#apresentacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--withe);
    margin: 20px 50px;
    font-size: 20px;
    border: 5px groove var(--cor3);

}

section#apresentacao img {
    height: 500px;
    width: 500px;
}

#txt {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto_apresentacao {
    line-height: 1.6;
    text-align: justify;
    padding: 0px 150px;
}

#galeria {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
}

#galeria:active {
    background-color: var(--cor4);
}

@media(max-width: 800px) {
    section#apresentacao {
        flex-direction: column;
        font-size: 15px;
    }

    section#apresentacao img {
        height: 300px;
        width: 300px;
    }

    .texto_apresentacao {
        line-height: 1.6;
        padding: 0px 50px;
    }
}

/*~~~~~~~ pesqisa por jogos ~~~~~~~*/
section#secao_jogos {
    margin: 20px;
}

div#procura {
    display: flex;
    justify-content: center;
}

#txt_pesquisa {
    border: 2px solid var(--black);
    background-color: var(--withe);
    border-radius: 10px;
    font-size: 15px;
    width: 300px;
    height: 25px;

    background-image: url('imgs/lupa.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 40px;
}

#txt_pesquisa:focus {
    outline: 0px;
    border: 3px solid var(--cor1);
}

#apresentacao_jogos {
    text-align: center;
}

.carrosel_jogos {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.jogo {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: var(--black);
    cursor: pointer;
}

/*~~~~~~~~~~~ roda pe ~~~~~~~~~~~~~~~~*/
footer {
    background-color: var(--black);
    border-top: 10px double var(--cor4);
    color: var(--withe);
}

h2 {
    padding: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~ jogo.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
section#apresentacao_jogue {
    /* cabeçalho */
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cabecalho_jogue {
    /* parte do topo (icone + nome do jogo*/
    display: flex;
    align-items: end;
    gap: 20px;
    font-size: 25px;
    color: var(--withe);
    padding: 10px;
}

div#cabecalho_jogue img {
    /* icone do jogo */
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border-right: 5px double var(--cor3);
    border-bottom: 5px double var(--cor4);
}

#descricao {
    /* caixa de descriçao do jogo */
    background-color: var(--cor0);
    color: var(--withe);
    font-size: 20px;
    border-radius: 3px;
    border-left: 5px double var(--cor5);
    border-bottom: 5px double var(--cor5);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    padding: 15px;
}

#jogue {
    /* quadro onde o jogo vai rodar */
    background-color: var(--cor0);
    width: 70rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}